# Port for Express serveren
PORT=3000

# Lim inn 'External Database URL' fra Render PostgreSQL Dashboard her:
# Eksempel: postgresql://bruker:passord@dpg-xxxx-a.oregon-postgres.render.com/dbname
DATABASE_URL=postgresql://database_url:XnVkQ8MdBsHRIjoxUkSQVuU9EJYlm6V4@dpg-da3igfoae00c73aublvg-a/database_url_w5p7

# Din OMDb API nøkkel for å hente film- og serietitler
OMDB_API_KEY=2366f40c
